.create{
    height: 360px;
    width: 100%;
    font-size: x-large;
    align-content: center;
    backdrop-filter: brightness(50%);
}

.signup{
    height: 100%;
    width: 100%;
    font-size: x-large;
    align-content: center;
    backdrop-filter: brightness(50%);
}

