.title{
    background-color: black;
    color:white;
    height:400px;
    font-size: x-large;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dangeroushtml{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}
.dangeroushtml p{
  font-family: "Jost";
}
.dangeroushtml2news{
   margin-top: 3%;
   font-size: 16px!important;
}
.goBack{
    margin-left: 15% !important;
    margin-bottom:8%;

    /* margin-top: % !important; */
  }
  
  @media only screen and (max-width: 768px) {
    .desktop{
      display: none !important;
    }
    .mobile{
      display: block !important;
    }
  }