/* .App {
  text-align: center!important;
}

.App-logo {
  height: 40vmin!important;
  pointer-events: none!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear!important;
  }
}

.App-header {
  background-color: #282c34!important;
  min-height: 100vh!important;
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
  justify-content: center!important;
  font-size: calc(10px + 2vmin)!important;
  color: white!important;
}

.App-link {
  color: #61dafb!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg)!important;
  }
  to {
    transform: rotate(360deg)!important;
  }
}


 */

 .App {
  text-align: center!important;
}

.App-logo {
  height: 40vmin!important;
  pointer-events: none!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear!important;
  }
}

.App-header {
  background-color: #282c34!important;
  min-height: 100vh!important;
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
  justify-content: center!important;
  font-size: calc(10px + 2vmin)!important;
  color: white!important;
}

.App-link {
  color: #61dafb!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg)!important;
  }
  to {
    transform: rotate(360deg)!important;
  }
}

.ant-tabs-nav-list{
  background-color: #f8f8f8 !important;
  color: #acacac !important;
  font-family: Jost !important;
}
label{
  font-family: Jost!important;
}
.ant-tabs-tab:hover{
  color: #2e2e2e !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2e2e2e !important; 
  background-color: #f8f8f8!important;
  font-weight: 400!important;
}

.filter{
  background-color: #f8f8f8!important;
  padding: 20px!important;
}
.ant-collapse-header{
  font-family: jost!important;
  font-weight: 400!important;
  font-size: 14px !important;
}

.ant-collapse-content-box{
  font-family: jost!important;
  font-weight: 400!important;
  font-size: 16px!important;
}

.ant-collapse .ant-collapse-borderless .ant-collapse-icon-position-left{
  background-color: #f8f8f8 !important;
}

.mobile{
  display: none !important;
}

.subtotal{
  margin-top: 15px !important;
}

.cartTotals{
  font-size: 14px !important;
  font-weight: bold !important;
}

@media only screen and (max-width: 768px) {
  .desktop{
    display: none !important;
  }
  .mobile{
    display: block !important;
  }
  .Vintage{
    padding-top: 0px !important;
  }
  .Pricelist{
    overflow-x: scroll !important;
    width: 100vw !important;
  }
  .emptycart{
      width:100% !important;
      height: 170px !important;
  }
}


.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  display:flex !important;
  align-items:center !important;
  justify-content:center !important;
}

.ant-btn > span {
   display:flex !important;
  align-items:center !important;
  justify-content:center !important;
}


.countryDrop {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  font-variant: tabular-nums !important;
  list-style: none !important;
  font-feature-settings: 'tnum', "tnum" !important;
  position: relative !important;
  display: inline-block !important;
  /* width: 100% !important; */
  min-width: 0 !important;
  padding: 4px 11px !important;
  color: rgba(0, 0, 0, 0.85) !important;
  font-size: 14px !important;
  line-height: 1.5715 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 2px !important;
  transition: all 0.3s !important;
  
}