@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@keyframes slide-in-right {
  0% {
    transform: translateX(350px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(350px);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-right {
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.bg-danger {
  background-color: #9B2120 !important;
}

.text-danger {
  color: #9B2120 !important;
}

.btn-danger {
  background-color: #9B2120 !important;
}

.nav-links {
  text-decoration: none;
  color: black !important;
  transition: 0.2s ease-in;
}

.nav-links:hover {
  color: #9B2120 !important;
  text-decoration: underline;
  text-underline-position: below;
}

.nav-links2 {
  text-decoration: none;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fwl {
  font-weight: lighter;
}

.cp {
  cursor: pointer;
}

.plr {
  padding: 0px 30vh;
}

.myfs {
  font-size: 1.2rem;
}

.ovx {
  overflow-x: hidden;
}

.carousel-caption {
  padding-bottom: 150px;
}

.myp {
  height: auto;
}

.op {
  position: absolute;
  top: 100;
  left: 0;
  /* z-index: 5; */
  background-color: black;
  height: 50vh;
  width: 100%;
  opacity: 0.5;
}

.op2 {
  position: absolute;
  top: 100;
  left: 0;
  /* z-index: 1; */
  background-color: black;
  height: 30vh;
  width: 100%;
  opacity: 0.5;
}

.op3 {
  position: absolute;
  top: 100;
  left: 0;
  /* z-index: 1; */
  background-color: black;
  height: 100vh;
  width: 99%;
  opacity: 0.5;
}

.aui0 {
  object-fit: cover;
  height: 60vh!important;
  width: 100vw!important;
}


.aui {
  background-image: url("https://source.unsplash.com/1600x400/?wine");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100vw;
}

.aui2 {
  background-image: url("https://source.unsplash.com/1600x400/?wine");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100vw;
}

.aui3 {
  background-image: url("https://source.unsplash.com/1600x400/?wine");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.who-are-we {
  background-color: #eeeeee;
  border-radius: 25px;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width:576px) {
  .plr {
    padding: 0px 2vh;
  }

  .carousel-caption {
    padding-bottom: 0px;
  }

  .myfs2 {
    font-size: 13px;
    margin-top: 10px;
  }

  .ovx {
    overflow-x: auto;
  }

  .op3 {
    position: absolute;
    top: 100;
    left: 0;
    /* z-index: 1; */
    background-color: black;
    height: 50vh;
    width: 100%;
    opacity: 0.5;
  }

  .aui3 {
    background-image: url("https://source.unsplash.com/1600x400/?wine");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vw;
  }

  .who-are-we {
    background-color: white;
    height: auto;
    width: 300px;
  }
}

@media only screen and (min-width:576px) and (max-width : 768px) {
  .plr {
    padding: 0px 5vh;
  }

  .carousel-caption {
    padding-bottom: 50px;
  }

  .ovx {
    overflow-x: auto;
  }

  .op3 {
    position: absolute;
    top: 100;
    left: 0;
    /* z-index: 1; */
    background-color: black;
    height: 50vh;
    width: 100%;
    opacity: 0.5;
  }

  .aui3 {
    background-image: url("https://source.unsplash.com/1600x400/?wine");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vw;
  }

  .who-are-we {
    background-color: white;
    height: auto;
    width: 300px;
  }
}

@media only screen and (min-width : 768px) and (max-width : 992px) {
  .plr {
    padding: 0px 10vh;
  }

  .myfs {
    font-size: 0.9rem;
  }

  .carousel-caption {
    padding-bottom: 100px;
  }

  .ovx {
    overflow-x: auto;
  }
}

@media only screen and (min-width : 993px) and (max-width : 1920px) {
  .ovx {
    overflow-x: auto;
  }
}
